/* =======================
   RESET + BASE
======================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "DS-Digital";
  src: url("assets/fonts/DS-Digital/DS-DIGIT.TTF") format("truetype");
}





html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* =======================
   FUNDO DA TELA INICIAL
======================= */
.fundo_tela_inicial {
  width: 100vw;
  height: 100vh;

  background-image: url("assets/fundo_tela_inicial.png");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 8vh;
}


/* =======================
   TÍTULO (ScoreGoal)
======================= */
.h1_tela_inicial {
  position: absolute;
  top: 6vh;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
  color: rgb(81, 192, 229);

  font-size: clamp(81px, 8vw, 88px);
  font-weight: 600;
  letter-spacing: 0.5px;

  text-align: center;
  white-space: nowrap;
  user-select: none;
}



.letra_o {
  position: relative;
  display: inline-block;
  width: 0.75em;
}

.bola_no_o {
  position: absolute;
  top: 0.18em;
  left: -0.20em;

  width: 1.1em;
  height: 1.1em;
}


/* =======================
   BOTÕES (PADRÃO JOGO)
======================= */
.botao_sair,
.botao_config {
  position: absolute;

  width: 44px;
  height: 44px;

  border-radius: 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 22px;

  cursor: pointer;
  user-select: none;

  transition: transform 0.15s ease, background-color 0.15s ease;
}

/* Botão Sair (canto superior direito) */
.botao_sair {
  top: 16px;
  right: 16px;
  background-color: red;
}

.botao_sair:hover {
  background-color: rgb(193, 10, 10);
  transform: scale(1.08);
}

.botao_sair:active {
  transform: scale(0.95);
}

/* Botão Configurações (canto inferior direito) */
.botao_config {
  bottom: 16px;
  right: 16px;
  background-color: rgb(99, 92, 92);
}

.botao_config:hover {
  background-color: rgb(75, 71, 71);
  transform: scale(1.08);
}

.botao_config:active {
  transform: scale(0.95);
}

.botao_iniciar a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 42px;
  font-weight: bold;

  text-decoration: none;
  color: #fff;
  margin-top: 335px;
  background: linear-gradient(180deg, #3bd62f, #249c19);
  padding: 23px 58px;
  border-radius: 22px;

  box-shadow: 0 6px 0 #1b7a13, 0 10px 20px rgba(0,0,0,0.35);

  transition: 
    transform 0.15s ease,
    box-shadow 0.15s ease,
    filter 0.15s ease;
}

.botao_iniciar a:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

.botao_iniciar a:active {
  transform: translateY(4px);
  box-shadow: 0 2px 0 #1b7a13, 0 6px 12px rgba(0,0,0,0.3);
}


/* ====================== Placar ====================== */

/* =======================
   TELA BASE
======================= */
.tela_placar_futebol {
  width: 100vw;
  height: 100vh;
  background-color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 80px 16px 24px;
}

/* =======================
   BOTÃO VOLTAR
======================= */
.botao_voltar {
  position: absolute;
  top: 16px;
  left: 16px;

  width: 44px;
  height: 44px;

  background-color: red;
  border-radius: 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 22px;
  cursor: pointer;

  transition: transform 0.15s ease, background-color 0.15s ease;
}

.botao_voltar:hover {
  background-color: rgb(193, 10, 10);
  transform: scale(1.08);
}

.botao_voltar:active {
  transform: scale(0.95);
}

/* =======================
   TOPO - NOMES DOS TIMES
======================= */
.topo_times {
  width: 100%;
  max-width: 1000px;

  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.nome_time1,
.nome_time2 {
  flex: 1;
  height: 70px;
  border-radius: 14px;
  padding: 10px 14px;
  background-color: transparent;
  border: 1px dashed #ffffff;

  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;

}

.nome_time1::placeholder,
.nome_time2::placeholder {
  color: #949aa4;
}

.nome_time1 {
  margin-left: -56px;
}

.nome_time2 {
  margin-left: 310px;
}


.nome_time:active {
  border: solid;
  outline: white;
}


/* =======================
   MEIO - PLACAR
======================= */
.meio_placar {
  display: flex;
  align-items: center;
  gap: 24px;
}

.escudo_placar {
  width: 250px;
  height: 250px;
  text-decoration: none;
  border: dashed #fff;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 40px;
}

.escudo_placar:hover {
  transform: scale(1.02);
  transition: 0.2s ease;
  border: #ffffff solid;
}

.escudo_placar:active {
  transform: scale(0.99);
  transition: 0.2s ease;
  border: #ffffff solid;
}

.placar {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 83px;
  margin-left: 83px;

  color: white;
  font-size: 72px;
  font-family: monospace;
}




/* =======================
   RODAPÉ - AÇÕES
======================= */
.rodape_acoes {
  width: 100%;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.gols {
  font-family: "DS-Digital", monospace;
  font-size: 250px;
  color: #55ff00;
}

.x {
  color: #55ff00;
  font-size: 100px;
  padding: 40px;
}

.btn_iniciar_partida {
  height: 70px;

  border-radius: 16px;
  background-color: #2aab19;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  font-size: 25px;
  text-decoration: none;
  box-shadow: 0 6px 0 #1b7a13, 0 1px 2px rgba(0,0,0,0.35);

  transition: 
    transform 0.15s ease,
    box-shadow 0.15s ease,
    filter 0.15s ease;
}

.btn_add_placar {
  height: 70px;
  cursor: pointer;
  border-radius: 16px;
  background-color: #3c82f3;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;

  box-shadow: 0 6px 0 #013890, 0 10px 20px rgba(0,0,0,0.35);

  transition: 
    transform 0.15s ease,
    box-shadow 0.15s ease,
    filter 0.15s ease;
}


.btn_iniciar_partida:hover {
  background-color: #259f1a;
  transform: scale(1.05);
  transition: 0.3s ease;
}

.btn_add_placar:hover {
  background-color: #1665e4;
  transform: scale(1.05);
  transition: 0.3s ease;
  
}

.btn_add_placar:active,
.btn_iniciar_partida:active {
  transform: scale(1);
  transition: 0.2s ease;
  transform: translateY(4px);
  box-shadow: 0 2px 0 #1b7a13, 0 6px 12px rgba(0,0,0,0.3);

}

/* ==================== Times ===================== */

.tela_add_escudo {
  width: 100vw;
  height: 100vh;

  background-image: url("assets/fundo_addescudo.png");
  opacity:calc(90%);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 8vh;
}

.h1_add_escudo {
  color: #fff;
  font-size: 50px;
  text-align: center;
  margin-top: -30px;
}

.aviso_nome {
    display: none; /* inicialmente escondida */
    color: #fff;
    background-color: #f44336; /* vermelho */
    padding: 8px 12px;
    border-radius: 5px;
    margin-top: 60px;
    margin-bottom: -97.1px;
    font-weight: bold;
    text-align: center;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


/* ================================== Placar final ================================== */

/* =======================
   CONTROLE DE GOLS
======================= */
.tela_final_placar {
  height: 100%;
  margin-top: -41px;
  background-color: #232323;
}

.controle_gols {
  display: flex;
  align-items: center;
  gap: 12px;
}

.meio_placar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 160px;
}

.btns {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.btns_ {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.btn_gol {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  margin-top: 10px;
  
  background-color: #222;
  color: white;
  font-size: 32px;
  cursor: pointer;

  transition: transform 0.15s ease, background-color 0.15s ease;
}

.btn_gol:hover {
  background-color: #444;
  transform: scale(1.1);
}

.btn_gol:active {
  transform: scale(0.95);
}


/* =======================
   CRONÔMETRO
======================= */
.cronometro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  font-family: "DS-Digital", monospace;
  font-size: 170px;
  color: #55ff00;
  margin-top: 40px;
}


.play_cronometro {
  font-size: 65px;
  cursor: pointer;
}

.play_cronometro:hover {
  transform: scale(1.05);
}


.play_cronometro:active {
  transform: scale(1);
  transition: 0.2s ease;
}

.reiniciar {
  font-size: 50px;
  border-radius: 100%;
  padding: 7px;
  background-color: #55ff00;
  color: #232323;
  cursor: pointer;
}

.reiniciar:hover {
  transform: scale(1.05);
}

.reiniciar:active {
  transform: scale(1);
  transition: 0.2s ease;
}

.meio_placar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px; /* espaço entre os times e o X */
  margin-top: 160px;
  margin-right: 68px;
}

.time_bloco {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nome_time__ {
  width: 250px;
  position: absolute;
  font-weight: bold;
  font-size: 24px;
  color: white;
  background-color: #1665e4;
  margin-bottom: 300px;
  margin-right: 450px;
  text-align: center;
}

.nome_time2__ {
  width: 250px;
  position: absolute;
  border-radius: 0;
  font-weight: bold;
  font-size: 24px;
  color: white;
  background-color: #1665e4;
  margin-bottom: 300px;
  margin-left: 650px;
  text-align: center;
}

.placar_com_botoes {
  display: flex;
  align-items: center;
  gap: 10px; /* espaço entre botões e zero */
}

.placar_com_botoes .btn_gol {
  width: 50px;
  height: 50px;
  font-size: 32px;
  border-radius: 50%;
  border: none;
  background-color: #222;
  color: white;
  cursor: pointer;
  transition: transform 0.15s ease, background-color 0.15s ease;
}

.placar_com_botoes .btn_gol:hover {
  background-color: #444;
  transform: scale(1.1);
}

.placar_com_botoes .btn_gol:active {
  transform: scale(0.95);
}

.x__ {
  font-size: 70px;
  font-weight: bold;
  color: #55ff00;
  margin-left: 100px;
  margin-right: 100px;
}
